# Archivos generados por Android Studio
*.iml
.idea/
.gradle/
local.properties
build/
captures/

# Archivos de compilación
*.apk
*.ap_
*.aab
*.dex
*.class

# Construcciones nativas (NDK)
.externalNativeBuild/
.cxx/
obj/

# Archivos de caché y nativos
caches/
native/

# Archivos temporales y de log
*.log
*.lock
*.bin
*.jar
hs_err_pid*
replay_pid*

# Archivos generados por el sistema
bin/
gen/
out/
output.json

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos comprimidos
*.zip
*.tar.gz
*.rar