# Archivos generados por Android Studio
*.iml
.gradle
.idea/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
.navigation/
output.json

# Archivos generados por la construcción
*.apk
*.ap_
*.aa
*.dex
*.class

# Archivos generados por el sistema
bin/
gen/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos NDK
obj/