*.iml
.idea/
.gradle/
local.properties
build/
caches/
*.ap_
*.aab
*.dex
*.class
*.jar
*.lock
*.bin
.externalNativeBuild/
.cxx/
obj/
native/
*.log
hs_err_pid*
replay_pid*
bin/
gen/
out/
output.json
.DS_Store
Thumbs.db
*.zip
*.tar.gz
*.rar