# Archivos generados por Android Studio
local.properties

*.iml
.gradle/
.idea/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
.navigation/
output.json

# Archivos generados por la construcción
*.apk
*.ap_
*.aa
*.dex
*.class

# Archivos generados por el sistema
bin/
gen/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos NDK
obj/

# Archivos de log
*.log

# Archivos de caché de Gradle
.gradle/caches/

*.jar
*.jar.lock
*.jar.receipt